*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 2rem;
    background-color: #b3e6f4 ;
    font-size: 0.9em;
    color: black;
}

.dropdown-btn{
    width: 110px;
    background-color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content:flex-start;
    column-gap: 6px;
    cursor: pointer;
    position: relative;
    
}
.dropdown-menu{
    position: absolute;
    display: none;
    width: 200px;
    height: 240px;
    margin-top: 0.3rem ;
    border-radius: 5px;
    padding: 10px 15px;
    background: white;
    /* visibility: hidden; */
    opacity: 0;
}
.dropdown-menu a {
    display: flex;
    align-items: left;
    text-decoration: none;
    color: black;
    column-gap: 0.5cm; 
    padding:10px 15px;
    border-radius: 3px;
                
}

.dropdown-menu a:hover {
    background-color: rgb(62, 102, 62);
    color: white ;
}

.show{
    display: block;
    opacity: 1;
}

.arrow{
    transform:rotateX(180deg);
    transition: 0.2s ease ;
}